table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
	padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 12px;
    padding-right: 12px;
}

.name {
    padding-right: 80px; 
}
