.main {
  background-color: cadetblue;
}

h3 {
  color: green;
}

#center {
  text-align: center;
}

#center strong {
  color: blue;
  background: yellow;
}

em {
  color: green;
}

strong {
  color: red;
}

.indent {
  text-align: center;
}
